#!/bin/bash
set -ex

#IP=`ifconfig eth0 | grep "inet addr" | awk -F: '{print $2}' | awk '{print $1}'`

beancounter_img='' \
cattle_url='http://10.0.128.222:8082' \
service_account='service0' \
service_pass='service0pass' \
docker-compose up -d
