#!/bin/bash
set -ex

#IP=`ifconfig eth0 | grep "inet addr" | awk -F: '{print $2}' | awk '{print $1}'`

cattle_url='http://10.0.128.222:8082' \
    service_account='service' \
    service_pass='servicepass' \
docker-compose up -d
